# 🎨 editorconfig.org

# 项目的顶级配置文件
root = true

# 适用于所有文件
[*]
# 文件的字符编码为 UTF-8
charset = utf-8
# 文件的行尾使用 LF（换行符）
end_of_line = lf
# 缩进使用空格而不是制表符
indent_style = space
# 缩进的大小为 2 个空格
indent_size = 2
# 删除行末多余的空格
trim_trailing_whitespace = true
# 在文件的末尾插入一个空行
insert_final_newline = true
